<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить давление</title>
</head>
<body>

<h1>Добавить запись</h1>


<form method="POST">

    <label>Систолическое давление:</label>
    <input type="number" name="systolic" required>
    <br><br>

    <label>Диастолическое давление:</label>
    <input type="number" name="diastolic" required>
    <br><br>

    <label>Пульс:</label>
    <input type="number" name="pulse" required>
    <br><br>

    <button type="submit">Сохранить</button>

</form>


<a href="/"><button type="button">На главную</button></a>

</body>
</html>